// Colors
$Blue-Zodiac: #0A192F;
$Big-Stone: #172A45;
$Astronaut: #284369;
$Aquamarine: #64FFDA;
$Pigeon-Post: #A7B4DD;
$Bali-Hai: #8892B0;
$White: #FFFFFF;

// Theme
$bg-primary: $Blue-Zodiac;
$bg-secondary: $Big-Stone;
$bg-tertiary: $Astronaut;

$text-color-primary: $White;
$text-color-secondary: $Pigeon-Post;
$text-color-tertiary: $Bali-Hai;

$pop-color: $Aquamarine;