.skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  margin-bottom: 1.5em;
  margin-right: .75em;

  &__title {
    font-size: 1.5em;
    margin-bottom: .25em;
  }

  &__list {
    margin-top: 5px;
    color: $text-color-secondary;
  }
}

@include mq(tall) {
  .skill {

    &__list {
      font-size: 1.1em;
    }
  }
}