@import './colors';

$bg-primary: $Blue-Zodiac;
$bg-secondary: $Big-Stone;
$bg-tertiary: $Astronaut;

$text-color-primary: $White;
$text-color-secondary: $Pigeon-Post;
$text-color-tertiary: $Bali-Hai;

$pop-color: $Aquamarine;